.container{
    display: flex;
    background-color: rgb(255, 255, 255);
    
    
flex-direction: row;
    

}

.column {
    height: 100px;
    width: 100%;
    color: white;
    text-align: center;
    font-size: 40px;
    padding-bottom: 100%;
}